<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "_includes/components/head-meta-tags.njk" %}

	{% include "_includes/components/head-css-tags.njk" %}

</head>
<body>

<header class="border-bottom">
	<nav class="container">
		<div class="navbar row align-items-center text-xl-left text-center">
			<h1 class="col-xl col-12 mb-0">
				<a href="{{ '/' | url }}" class="d-block text-decoration-none">
					<img src="/images/logo-head.png" alt="Beast Moving Logo" class="">
					<span class="d-inline-block">{{ metadata.title }}</span>
				</a>
			</h1>
			<div class="col-xl-auto col-12">
				<a href="/" class="btn">Home</a>
				<a href="/tracking/" class="btn">Tracking</a>
				<a href="/services/" class="btn">Services</a>
				<a href="/contact/" class="btn">Contact Us</a>
			</div><!-- end col -->
		</div><!-- end row -->
	</nav>
</header>

<main>
	{{ content | safe }}
</main>

<footer class="text-center py-5 font-weight-bold">&copy; {% dateYear %} Beast Moving</footer>



<script>
	{% set js %}
	{% include "_includes/js/scripts.js" %}
	{% endset %}
	{{ js | safe }}
</script>

</body>
</html>
